@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* Global Styles */
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: white;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
#header{
  background-color: #F2D2BD;
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding: 2px 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  z-index: 999;
  position: sticky;
  top:0;
  left:0;
}
.logo{
  height: 100px;
  width: 200px;
  padding-top: 40px;
  text-align: center;
  font-size: 23px;
  color: purple;
}
#navbar{
  display:flex;
  align-items:center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 15px;
  position:relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color:black;
  transition: background 0.3s;
}
#navbar li a:hover,
#navbar li a.active{
 background:white;
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background:white;
  position:absolute;
  bottom: -4px;
  left:20px;
}
/*Home Page*/
#hero{
  height:90vh;
  width:100%;
  background-size:cover ;
  background-image: url('background-2.jpg');
  background-position:top 25% right 0 ;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4{
  padding-bottom: 15px;
}
.btn{
  background-color:#F2D2BD;
  border:none;
  outline:none;
  padding:15px 32px;
  text-align: center;
  color:black;
  display:inline-block;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover{
  background-color: #A52A2A;
}
#hero p{
  color:#A52A2A;
}
#feature{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex: wrap;
}
#feature .fe-box{
  width: 500px;
  text-align: center;
  padding: 15px 25px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.03) ;
  border:1px solid black;
  border-radius: 4px;
  margin:15px 20px;
}
#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
  background-color: lightgreen;
}
#feature .fe-box:nth-child(3) h6{
  background-color: lightblue;
}
#feature .fe-box:nth-child(4) h6{
  background-color: lightpink;
}
#feature .fe-box:nth-child(5) h6{
  background-color: orange;
}
.row{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space around;
}
.categories{
  margin: 0px 0;
}
.col-3{
  flex-basis:25%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 300px;
  border: 5px solid #DDA0DD;
  margin-top: 10px;
}
.small-container{
  text-align: center;
 width: 100%;
  margin: auto;
  padding-left:5px;
  padding: right 30px;
  padding-top: 10px;
}
.col-3 a{
  text-decoration: none;
}
.col-3 img:hover{
  box-shadow: 20px 20px 30px rgba(255, 99, 71,0.06);
}

#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-repeat: no-repeat;
  background-color: #F2D2BD;
}
#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color:black;
}
#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color:#A52A2A;
}
#newsletter p span{
  color:#DDA0DD
}
#newsletter .form{
  display: flex;
  width: 40%;
}
#newsletter input{
  height: 3.125rem;
  padding:0 1.25em;
  font-size: 14px;
  width:100%;
  border: 1px solid transparent;
  outline:none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button{
   background-color: black;
   color: white;
   white-space: nowrap;
   padding: 15px 32px;
   border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
footer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}  
footer.logo{
  margin-bottom:30px;
}
footer h4{
  font-size: 14px;
  padding-bottom: 10px;
}
footer p{
  color: #222;
  font-size: 13px;
}
footer a{
  font-size: 10px;
  text-decoration: none;
  color:black;
  margin-bottom: 10px;
}
footer .follow{
  margin-top: 20px;
}
footer .follow i{
  color:black;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img{
  border:1px solid black;
  border-radius: 6px;
}
footer .install img{
  margin:10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
  color:#088178;
}
